.main {
  /* width: 100%; */
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

.inner-containerq2 {
  width: 70%;
  border: 2px solid #cecbcb;
  padding: 3rem 0;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container2 {
  max-width: 50%;
}
.labelq2 {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 17px;
}
.inputq2 {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.4rem 0;
  border: 1px solid #837878;
  border-radius: 0.3rem;
}

.login-btn {
  width: 100%;
  border: none;
  margin-bottom: 0.4rem;
  color: #fff;
  background-color: #027afe;
  padding: 0.4rem 0;
  font-size: 16px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.forgot-pass {
  text-align: center;
  color: blue;
  font-size: 17px;
  cursor: pointer;
}
