* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

.mainq4 {
  max-width: 970px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardq4 {
  width: 256px;
  padding: 1.7rem 1.5rem;
  margin: 2rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0.1);
  border-radius: 0.3rem;
}

.info {
  padding: 0.8rem 0;
  border-bottom: 2px solid gray;
}

.free-trial {
  border: 1px solid black;
  width: fit-content;
  margin-bottom: 0.8rem;
  padding: 0.3rem 0.6rem;
}

.plan {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.price {
  background-color: #f4f4f4;
  width: fit-content;
  padding: 0.4rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
}

/* **** */
.list-itemq4 {
  list-style: none;
  color: grey;
  margin: 1rem 0;
}

.signUpQ4 {
  background-color: #333332;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #fff;
}

.signUpQ4:hover {
  color: #333332;
  background-color: #fff;
  border: 1px solid #333332;
}
