* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 100vh;
  background-color: #deeced;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgb(0, 0, 0.1);
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 1rem;

  position: relative;
}

.product-image {
  height: 175px;
  border-radius: 10px;
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.product-header .heading {
  font-size: 18px;
  color: #394551;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.product-header .price {
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: #23939c;
  padding: 1px 3px;
  border-radius: 3px;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: -15px;
}

.description {
  width: 90%;
  color: gray;
  padding: 0.7rem;
  padding-left: 0;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.addToCart-btn {
  color: #fff;
  background-color: #23939c;
  border: 1px solid #23939c;
  padding: 6px 12px;
  align-self: flex-start;
  font-weight: bold;
  border-radius: 3px;
}

.addToCart-btn:hover {
  color: #23939c;
  background-color: #eefeff;
  border: 1px solid #23939c;
  cursor: pointer;
}

.sale {
  position: absolute;
  padding: 2px 10px;
  letter-spacing: 1px;
  background-color: red;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  top: -8px;
  left: -8px;
}
